* {
	box-sizing: border-box;
}

ul {
	padding: 0;
}

button {
	outline: none;
	background: transparent;
	border: none;
}

body {
	background-color: #ced3df;
	text-align: center;
}

.list {
	width: 400px;
	margin: auto;
	background-color: #f1f0f7;
	border-radius: 20px;
	-webkit-box-shadow: -15px 5px 29px 5px #000000;
	box-shadow: -15px 5px 29px 5px #000000;
}

.header {
	height: 48px;
	padding: 8px;
	font-size: 24px;
	background: rgb(34, 193, 195);
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(253, 187, 45, 1) 100%
	);
	border-radius: 20px 20px 0 0;
	color: white;
}

.items {
	height: 500px;
	overflow-y: auto;
}

.item {
	display: flex;
	justify-content: space-between;
	padding: 8px 32px;
}

.item_divider {
	width: 90%;
	height: 1px;
	background-color: lightgray;
	margin: auto;
}

.footer {
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(253, 187, 45, 1) 100%
	);
	border-radius: 0 0 20px 20px;
}

.item_delete {
	cursor: pointer;
}

.item_delete {
	font-size: 16px;
	transition: all 300ms ease-in;
}

.item_delete:hover {
	color: red;
	transform: scale(1.1);
}

.footer_input {
	width: 100%;
	height: 32px;
	border: none;
	outline: none;
	font-size: 24px;
	padding: 0 16px;
}

.footer_button {
	width: 48px;
	height: 48px;
	background-color: black;
	border-radius: 50%;
	font-size: 28px;
	color: white;
	transition: all 300ms ease-in;
	cursor: pointer;
}

.footer_button:hover {
	transform: scale(1.1);
}
